<!DOCTYPE html>
<html>
<head>
    <title>Notes Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<h1>Notes Management System</h1>

<form action="/add" method="POST">

<input
type="text"
name="note"
placeholder="Enter a note..."
required>

<button type="submit">Add Note</button>

</form>

<hr>

{% for note in notes %}

<div class="note">

<span>{{ note[1] }}</span>

<a href="/delete/{{ note[0] }}">Delete</a>

</div>

{% endfor %}

</div>

</body>
</html>